 <section class="w-screen relative overflow-hidden">
    <footer class="flex bg-black flex-col md:flex-row justify-between items-center relative pt-10 pb-8 px-4">
            
        <span class="text-white  text-center md:text-left">
            © 2024, BAJOTIERRA
        </span>

        <ul class="flex flex-row  items-center  justify-center md:justify-end pr-10"> 
            <li class="mr-4"> 
                <a href="https://www.instagram.com/bajotierrra/" rel="noopener" class="hover:text-primary" target="_blank">
                    <img src="logoinsbt.jpg" alt="Logo BT" class="w-14 h-auto">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/mediosbajotierra/" rel="noopener" class="hover:text-primary" target="_blank">
                    <img src="logoinstbtm.png" alt="Logo BTM" class="w-16 h-auto ">
                </a>
            </li
        </ul>
    </footer>
</section> 