<section class="w-screen relative overflow-hidden">
    <footer class="flex flex-col md:flex-row bg-black justify-between items-center relative px-4 py-8 md:py-10">
            
        <span class="text-white text-center md:text-left mb-4 md:mb-0">
            © 2024, BAJOTIERRA
        </span>

        <ul class="flex flex-row items-center justify-center md:justify-end">
            <li class="mr-4"> 
                <a href="https://www.instagram.com/bajotierrra/" rel="noopener" class="hover:text-primary" target="_blank">
                    <img src="logoinsbt.jpg" alt="Logo BT" class="w-14 h-auto">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/mediosbajotierra/" rel="noopener" class="hover:text-primary" target="_blank">
                    <img src="logoinstbtm.png" alt="Logo BTM" class="w-16 h-auto">
                </a>
            </li>
        </ul>
    </footer>
</section>
