---
import { Code } from 'astro:components'
import BTLogo from '../components/BTlogo.astro'
---

<section class="bg-black h-screen w-screen text-center relative ">
    
    <div class="absolute top-0 bottom-0 w-full h-full">
      <video autoplay muted loop src="/dani2.webm" class="w-full h-full object-cover animate-blurred-fade-in"></video>
    </div>

    <section class="flex flex-col justify-start items-start absolute">
        <img src="align-justify.png" class="pt-5 pl-10 animate-fade-in">
    </section>

    <section class="flex flex-col justify-center items-center absolute  left-0 w-full h-full">
        <div class="logo-container ">
        <img src="LogoBT2.png" class="w-96 h-96 animate-fade-in">
        </div>
    </section>
    <section class="absolute bottom-0 right-0 mr-10 mb-4 ml-3 animate-fade-in">
        <img src="arrow-circle-right.png" class="" alt="">
    </section>

  </section>
  
