---

---


<div class="carrousel">
        <!-- SLIDE 1 -->
        <div class="slide1">
            <div class="carousel-item">
                <section class="slider-section">
                    <section class="bg-black h-screen w-screen text-center relative ">
                        <div class="absolute top-0 bottom-0 w-full h-full">
                        <video id="videoPagina" autoplay muted loop src="/dani2.webm" class="w-full h-full object-cover animate-blurred-fade-in"></video>
                        </div>

                        <section class="flex flex-col justify-start items-start absolute">
                            <img src="align-justify.png" class="pt-5 pl-10 animate-fade-in w-22 h-22 md:w-38 md: h-38">
                        </section>

                        <section class="flex flex-col justify-center items-center absolute  left-0 w-full h-full ">
                            <div class="logo-container ">
                                <img src="/LogoBT2.png" class="w-58 h-58 md:w-96 md:h-96 animate-fade-in">
                            </div>
                        </section>
                        <button id="botonDER">
                            <section class="absolute bottom-0 right-0 mr-10 mb-4 ml-3 animate-fade-in">
                                <img src="arrow-circle-right.png" class="animate-fade-in w-22 h-22 pb-5 md:w-38 md: h-38" alt="">
                            </section>
                        </button>
                    </section>
                </section>
            </div>
        </div>
</div>

<script>
    // Llamamos a changePicture cada 5 segundos (5000 milisegundos)
    var intervalId = setInterval(changePicture, 5000);

    // Detenemos el carrusel automático cuando el usuario hace clic en el botón
    document.getElementById('botonDER').addEventListener('click', () => {
        clearInterval(intervalId);
        changePicture();
    });

    function changePicture() {
        var oldtagVideo = document.getElementById('videoPagina');
        if (oldtagVideo != null) {
            var newTag = document.createElement('img');
            newTag.src = 'bg1.jpg';
            newTag.setAttribute("id", "imagenbanner");
            newTag.classList.add('w-full', 'h-full', 'object-cover', 'animate-blurred-fade-in');
            oldtagVideo.parentNode.replaceChild(newTag, oldtagVideo);
        } else {
            var imgtag = document.getElementById('imagenbanner');
            var srcImage = imgtag.src;
            var foto = srcImage.replace(/^.*[\\\/]/, '');
            if (foto == 'bg1.jpg') {
                var newTag = document.createElement('img');
                newTag.src = 'bg2.jpg';
                newTag.setAttribute("id", "imagenbanner");
                newTag.classList.add('w-full', 'h-full', 'object-cover', 'animate-blurred-fade-in');
                imgtag.parentNode.replaceChild(newTag, imgtag);
            }
            if (foto == 'bg2.jpg') {
                var newVideoTag = document.createElement('video');
                newVideoTag.src = '/dani2.webm'; // Aquí es importante incluir la ruta correcta del archivo de video
                newVideoTag.setAttribute("id", "videoPagina");
                newVideoTag.setAttribute("autoplay", "");
                newVideoTag.setAttribute("muted", "");
                newVideoTag.setAttribute("loop", "");
                newVideoTag.setAttribute("class", "w-full h-full object-cover animate-blurred-fade-in");
                imgtag.parentNode.replaceChild(newVideoTag, imgtag);
            }
        }
    }
</script>

