<section class="w-screen h-screen bg-brownb">
<div class="flex  h-screen" >
    <div class="w-3/5"> <!-- IZQ -->
        <div class="flex p-10">
            <img height="531" width="531" class=" m-auto " src="Portada_Ey!.jpg" alt="portada">
        </div>
        <div class="flex gap-96">
            <img class="flex"src="chevron-left.png"> 
            <img class="flex"src="chevron-right.png">
        </div>
    </div>
    <div class="bg-white w-2/5 space-y-4 h-screen"> <!-- DER -->
        <a href="">
            <h1 class="text-xl p-5 border-b-2">001 MIX ENERO BAJOTIERRA</h1>
        </a>
        <div>
            <div>
                <a>
                "La noche"
                </a>
                <p>
                Fin del mundo
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "No Nos interesa"
                </a>
                <p>
                Las Olas (Noispop)
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "Peñacastillo"
                </a>
                <p>
                Aiko el grupo
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "Ultravioleta"
                </a>
                <p>
                mitimitis, Margaritas podridas
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "Samba Rosada al Pesto"
                </a>
                <p>
                Isabela sudada
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "Reina de primavera"
                </a>
                <p>
                te vi en un planetario
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "Muérete Tú"
                </a>
                <p>
                Muérete Tú
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "La noche"
                </a>
                <p>
                Fin del mundo
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "Dime Ke Mas Kieres De Mi"
                </a>
                <p>
                Generaciones Suicida
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                Portada por
                </a>
                <a>
                Mix por
                </a>
            </div>
        </div>
    </div> 
</div>

</section>