<section class="w-screen  ">
<div class="flex flex-col md:flex-row sm:flex-row-reverse" >
    <div class="bg-gradient-to-r from-pink-300 via-purple-300 to-blue-300 background-animate md:w-3/5"> <!-- IZQ -->
        <div class="flex px-10 pt-10  ">
            <img height="531" width="531" class=" m-auto  shadow-xl" src="MixMarzo.jpg" alt="portada">
        </div>
        <div class="flex gap-40 md:gap-96 justify-center ">
            <img class="" src="chevron-left.png"> 
            <img class="" src="chevron-right.png">
        </div>
    </div>
     
    <div class="bg-white md:w-2/5"> <!-- DER -->
        <a href="">
            <h1 class="text-2xl p-5 border-b-2">001 MIX MARZO BAJOTIERRA</h1>
        </a>    
    <div class="p-5 space-y-4 text-base">
        <div>
            <div>
                <a>
                "La noche"
                </a>
                <p class=" text-gray-400">
                Fin del mundo
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "No Nos interesa"
                </a>
                <p class=" text-gray-400">
                Las Olas (Noispop)
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "Peñacastillo"
                </a>
                <p class=" text-gray-400">
                Aiko el grupo
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "Ultravioleta"
                </a>
                <p class=" text-gray-400">
                mitimitis, Margaritas podridas
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "Samba Rosada al Pesto"
                </a>
                <p class=" text-gray-400">
                Isabela sudada
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "Reina de primavera"
                </a>
                <p class=" text-gray-400">
                te vi en un planetario
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "Muérete Tú"
                </a>
                <p class=" text-gray-400">
                Muérete Tú
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "La noche"
                </a>
                <p class=" text-gray-400">
                Fin del mundo
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "Dime Ke Mas Kieres De Mi"
                </a>
                <p class=" text-gray-400">
                Generaciones Suicida
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                Portada por @Ejemplo
                </a>
                <p>
                Mix por @Ejemplo
                </p>
            </div>
        </div>
    </div>
    </div> 
</div>
</section>

<style>
	.background-animate {
	  background-size: 400%;
  
	  -webkit-animation: AnimationName 3s ease infinite;
	  -moz-animation: AnimationName 3s ease infinite;
	  animation: AnimationName 3s ease infinite;
	}
  
	@keyframes AnimationName {
	  0%,
	  100% {
		background-position: 0% 50%;
	  }
	  50% {
		background-position: 100% 50%;
	  }
	}
  </style>