<section class="w-screen h-screen bg-brownb">
<div class="flex  h-screen" >
    <div class="w-3/5"> <!-- IZQ -->
        <div class="flex px-10 pt-10  ">
            <img height="531" width="531" class=" m-auto  shadow-xl" src="MixMarzo.jpg" alt="portada">
        </div>
        <div class="flex gap-96 justify-center">
            <img class="" src="chevron-left.png"> 
            <img class="" src="chevron-right.png">
        </div>
    </div>
    
    <div class="bg-white w-2/5 h-screen"> <!-- DER -->
        <a href="">
            <h1 class="text-2xl p-5 border-b-2">001 MIX MARZO BAJOTIERRA</h1>
        </a>    
    <div class="p-5 space-y-4 text-base">
        <div>
            <div>
                <a>
                "La noche"
                </a>
                <p class=" text-gray-400">
                Fin del mundo
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "No Nos interesa"
                </a>
                <p class=" text-gray-400">
                Las Olas (Noispop)
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "Peñacastillo"
                </a>
                <p class=" text-gray-400">
                Aiko el grupo
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "Ultravioleta"
                </a>
                <p class=" text-gray-400">
                mitimitis, Margaritas podridas
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "Samba Rosada al Pesto"
                </a>
                <p class=" text-gray-400">
                Isabela sudada
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "Reina de primavera"
                </a>
                <p class=" text-gray-400">
                te vi en un planetario
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "Muérete Tú"
                </a>
                <p class=" text-gray-400">
                Muérete Tú
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "La noche"
                </a>
                <p class=" text-gray-400">
                Fin del mundo
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                "Dime Ke Mas Kieres De Mi"
                </a>
                <p class=" text-gray-400">
                Generaciones Suicida
                </p>
            </div>
        </div>
        <div>
            <div>
                <a>
                Portada por @Ejemplo
                </a>
                <p>
                Mix por @Ejemplo
                </p>
            </div>
        </div>
    </div>
    </div> 
</div>x
</section>

